.servicesPage .rvsptitle {
  text-align: center;
  color: var(--rv-primary);
  position: relative;
  margin: 0 auto;
  margin-bottom: 35px;
  width: -moz-max-content;
  width: max-content;
}
.servicesPage .rvsptitle::before {
  content: "";
  position: absolute;
  width: 80%;
  margin: 0;
  height: 2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  background: var(--rv-primary);
}

.calltoacton {
  text-align: center;
  padding-top: 0;
}
.calltoacton .rvcard {
  text-align: center;
  box-shadow: 0 0 15px 0 #ddd;
  background: var(--rv-secondary);
  padding: 35px;
  border-radius: 20px;
  color: var(--rv-white);
}
.calltoacton .rvcard .rvcardBody {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}